<section class="footer">
    <div class="footer-container">
        <div class="footer-column footer-column-left">
            <a href="/" class="footer-logo">
                <img src="{{ '/assets/PWindows.png' | relative_url }}" alt="PWindows Logo">
            </a>
            <p class="footer-copy">
                &copy; {{ site.time | date: '%Y' }} PWindows. All rights reserved.
            </p>
            <p class="footer-disclaimer">
                Not affiliated with Mojang Studios, Microsoft, or Minecraft.
            </p>
            <p class="footer-rules">
                <a href="/rules">Rules</a>
            </p>
        </div>
        <div class="footer-column footer-column-center">
        <h3 class="footer-heading">
            <a href="/games">Games</a>
        </h3>
        <ul class="footer-links">
            <li><a href="/games/obby-of-dominance">Obby Of Dominance</a></li>
            <li><a href="/games/sacred-cubes">Sacred Cubes</a></li>
        </ul>
        </div>

        <!-- Column 3: Shop, Support, Feedback, etc. -->
        <div class="footer-column footer-column-right">
        <h3 class="footer-heading"><a href="https://shop.pwindows.qzz.io">Shop</a></h3>
        <h3 class="footer-heading"><a href="https://support.pwindows.qzz.io">Support</a></h3>
        <ul class="footer-links">
            <li><a href="/feedback">Feedback</a></li>
            <li><a href="/sitemap.xml">Site map</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/staff">Staff</a></li>
        </ul>
        </div>
    </div>
</section>