<!-- Floating particles -->
<div class="particles" id="particles"></div>

<!-- Mobile Menu Overlay -->
<div class="menu-overlay" id="mobileMenu">
  <nav class="nav-menu">
    <a href="/about" class="nav-item btn" onclick="aboutPage()">
        <img style="height:1.125rem;" src="/assets/mojang/svg/icons/book.png" />
        About
    </a>
    <a href="/articles" class="nav-item btn" onclick="newsPage()">
      📰 Newest News
    </a>
    <a href="#server" class="btn nav-item secondary" onclick="closeMenu()">
      🎮 Join Server
    </a>
    <a
      href="minecraft:?addExternalServer=PWindows|Play.PWindows.qzz.io"
      class="btn nav-item primary"
      onclick="closeMenu()"
    >
      🚀 Launch Minecraft
    </a>
  </nav>

  <div class="menu-footer">
    <p>Connect with PWindows</p>
    <div class="social-links">
      <a href="#" class="social-link" title="Discord"
        ><img
          class="social-link-img"
          src="/assets/mojang/svg/icons/pixel-close.svg"
      /></a>
      <a href="#" class="social-link" title="YouTube"
        ><img
          class="social-link-img"
          src="/assets/mojang/svg/icons/color-youtube.svg"
      /></a>
      <a href="#" class="social-link" title="Twitter"
        ><img
          class="social-link-img"
          src="/assets/mojang/svg/icons/color-twitter.svg"
      /></a>
    </div>
  </div>
</div>

<!-- Topbar -->
<nav class="topbar">
  <div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="logo" id="logo" onclick="goHome()">
    <img
      src="https://pwindows.qzz.io/assets/PWindows.png"
      alt="PWindows Logo"
      class="logo-img"
    />
  </div>

  <a href="/about" class="about-btn btn">About</a>
</nav>
